<div class="container-fluid">
    
    <app-page-title title="Lista de Convenios" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form (ngSubmit)="buscar()" [formGroup]="formData">
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Búsqueda por Texto</label>
                                    <input class="form-control form-input" formControlName="txtBusquedaGeneral">
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Estado Convenio</label>
                                    <select class="form-control form-select" formControlName="ideEstadoConvenio">
                                        <option value>Seleccionar</option>
                                        @for(estadoConvenio of estadosConveniosStateService.itemsListado();track $index){
                                            <option value="{{estadoConvenio.ideEstadoConvenio}}">{{estadoConvenio.txtEstadoConvenio}}</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Año</label>

                                    <ng-select
                                        formControlName="ideAnio"
                                        [items]="aniosSuscripcion"
                                        bindLabel="anio"
                                        bindValue="anio"
                                        placeholder="Seleccionar"
                                        [searchable]="true"
                                        [clearable]="true"
                                        [multiple]="true"    
                                    >
                                    </ng-select>


                                    <!-- <select class="form-control form-select" formControlName="ideAnio">
                                        <option value>Seleccionar</option>
                                        @for(anio of aniosSuscripcion;track $index){
                                            <option value="{{anio}}">{{anio}}</option>
                                        }
                                    </select> -->
                                </div>
                            </div>
                            <!-- <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Modalidad Convenio</label>
                                    <ng-select
                                        formControlName="ideModalidadConvenio"
                                        [items]="modalidadesConveniosStateService.items()"
                                        bindLabel="txtModalidadConvenio"
                                        bindValue="ideModalidadConvenio"
                                        placeholder="Seleccionar"
                                        [searchable]="true"
                                        [clearable]="true"
                                        [multiple]="true"    
                                    >
                                    </ng-select>
                                </div>
                            </div> -->

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Tipo de Convenio</label>
                                    <ng-select
                                        formControlName="ideTipoConvenio"
                                        [items]="tiposConveniosStateService.items()"
                                        bindLabel="txtTipoConvenio"
                                        bindValue="ideTipoConvenio"
                                        placeholder="Seleccionar"
                                        [searchable]="true"
                                        [clearable]="true"
                                        [multiple]="true"    
                                    >
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Pais</label>
                                    <ng-select
                                        formControlName="idePais"
                                        [items]="paisesStateService.items()"
                                        bindLabel="txtPais"
                                        bindValue="idePais"
                                        placeholder="Seleccionar"
                                        [searchable]="true"
                                        [clearable]="true"
                                        [multiple]="true"    
                                    >
                                    </ng-select>

                                    <!-- <select class="form-control form-select" formControlName="idePais">
                                        <option value>Seleccionar</option>
                                        @for(pais of paisesStateService.items();track $index){
                                            <option value="{{pais.idePais}}">{{pais.txtPais}}</option>
                                        }
                                    </select> -->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Contraparte</label>
                                    <ng-select
                                        formControlName="ideContraparte"
                                        [items]="institucionesStateService.items()"
                                        bindLabel="txtInstitucion"
                                        bindValue="ideInstitucion"
                                        placeholder="Seleccionar"
                                        [searchable]="true"
                                        [clearable]="true"
                                        [multiple]="true"    
                                    >
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Oficina Proponente Ejecutor</label>
                                    <!-- <select class="form-control form-select" formControlName="ideOrganoEjecutor">
                                        <option value>Seleccionars</option>
                                        @for(oficina of oficinasStateService.items();track $index){
                                            <option value="{{oficina.ideOficina}}">{{oficina.txtOficina}}</option>
                                        }
                                    </select> -->
                                    <ng-select
                                        [items]="oficinasStateService.items()"
                                        bindLabel="txtOficina"
                                        bindValue="ideOficina"
                                        placeholder="Seleccionar"
                                        formControlName="ideOrganoEjecutor"
                                        [searchable]="true"
                                        [clearable]="true"
                                        [multiple]="true" 
                                    >
                                    </ng-select>

                                </div>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-md-12">
                                <div class="float-start">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="agregar()">Agregar</button>
                                </div>
                                <div class="float-end">
                                    <button type="submit" class="btn btn-info" >Buscar</button> &nbsp;
                                    <button type="button" class="btn btn-success" (click)="descargarExcelResumen()">Descargar Resumen Excel</button> &nbsp;
                                    <button type="button" class="btn btn-success" (click)="descargarPdfResumen()">Descargar Resumen Pdf</button> &nbsp;
                                    <!-- <button type="button" class="btn btn-success" (click)="descargarExcel()">Descargar Completo</button> -->
                                </div> 
                            </div><!-- end col-->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-body">
					<div class="row">
                        <div class="col-md-12 mb-3">
                            <div class="mt-3">
                                <h6 class="mb-2">Leyenda de estado según fecha de fin del convenio:</h6>
                                <div class="d-flex gap-3 flex-wrap">
                                    <!-- <span class="spinner-grow spinner-grow-sm text-success"></span> -->
                                    <span class="badge bg-success">
                                    Verde: más de 6 meses
                                    </span>
                                    <!-- <span class="spinner-grow spinner-grow-sm text-warning"></span> -->
                                    <span class="badge bg-warning text-dark">
                                    Amarillo: entre 3 y 6 meses
                                    </span>
                                    <!-- <span class="spinner-grow spinner-grow-sm text-danger"></span> -->
                                    <span class="badge bg-danger">
                                    Rojo: menos de 3 meses
                                    </span>
                                </div>
                            </div>
                        </div>
						<div class="col-md-12">
                            

                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table align-middle table-nowrap table-hover dt-responsive nowrap w-100">
                                <thead>
                                    <tr>
                                        <th scope="col" style="width: 20% !important;">Convenio</th>
                                        <th scope="col" style="width: 15% !important;">Oficina Proponente Ejecutor</th>
                                        <th scope="col" style="width: 20% !important;">Tipo de Convenio</th>
                                        <th scope="col" style="width: 10% !important;">Fecha Inicio</th>
                                        <th scope="col" style="width: 10% !important;">Fecha Fin</th>
                                        <th scope="col" style="width: 5% !important;">Contrato</th>
                                        <th scope="col" style="width: 5% !important;">Adenda</th>
                                        <th scope="col" style="width: 10% !important;">Estado</th>
                                        <th scope="col" style="width: 5% !important;">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for(convenio of conveniosFiltrados;track $index){
                                    <tr>
                                        <!-- <td>{{ convenio.txtConvenio?.length > 30 ? (convenio.txtConvenio | slice:0:30) + '...' : convenio.txtConvenio }}</td> -->
                                        <td class="wrap-columna-convenio">{{ convenio.txtConvenio }}</td>
                                        <td>
                                            {{
                                                convenio.oficinasProponentes?.length > 0
                                                ? (convenio.oficinasProponentes[0]?.organoEjecutor?.txtCodigoOficina| slice:0:30)   + (convenio.oficinasProponentes.length > 1 ? '...' : '')
                                                : ''
                                            }}
                                        </td>
                                        <td>{{ convenio.tipoConvenio?.txtTipoConvenio?.length > 25 ? (convenio.tipoConvenio?.txtTipoConvenio | slice:0:25) + '...' : convenio.tipoConvenio?.txtTipoConvenio }}</td>
                                        <td>{{ convenio.fecInicio | date:'yyyy-MM-dd'}}</td>
                                        <td>{{ convenio.fecFinalizacion | date:'yyyy-MM-dd' }}</td>
                                        <td>
                                            <button *ngIf="convenio.txtArchivoBaseLegalRuta" type="button" class="btn btn-outline-danger" (click)="descargarConvenio(convenio.uuid)">
                                                <i class="bx bxs-file-pdf me-1 bx-sm"></i>
                                                <!-- <i class="bx bx-download me-1"></i> -->
                                            </button>
                                        </td>
                                        <td>
                                            @if(convenio.archivos?.length > 0){
                                                <button *ngIf="convenio.archivos[0]?.txtArchivoRuta" type="button" class="btn btn-outline-danger" (click)="descargarAdenda(convenio.archivos[0]?.uuid)">
                                                    <i class="bx bxs-file-pdf me-1 bx-sm"></i>
                                                </button>
                                            }
                                        </td>
                                        <td> 
                                            @if(convenio.estadoConvenio?.ideEstadoConvenio === 3){
                                                <!-- <div class="spinner-grow spinner-grow-sm "
                                                    [ngClass]="{
                                                        'text-success': convenio.estadoConvenio?.ideEstadoConvenio === 3, 
                                                        'text-warning': convenio.estadoConvenio?.ideEstadoConvenio === 2,   
                                                        'text-danger': convenio.estadoConvenio?.ideEstadoConvenio === 1    
                                                        }"
                                                    role="status">
                                                </div> &nbsp; -->
                                                <div class="spinner-grow spinner-grow-sm"
                                                    [ngClass]="getColorPorFecha(convenio.fecFinalizacion)"
                                                    role="status">
                                                </div> &nbsp;
                                            }
                                            

                                            <span class="badge badge-pill font-size-11"
                                                    [ngClass]="{
                                                    'bg-success': convenio.estadoConvenio?.ideEstadoConvenio === 3, 
                                                    'bg-warning': convenio.estadoConvenio?.ideEstadoConvenio === 2,   
                                                    'bg-danger':  convenio.estadoConvenio?.ideEstadoConvenio === 1   
                                                    }">{{ convenio.estadoConvenio?.txtEstadoConvenio }}</span> 
                                            
                                        </td>
                                        <td>
                                            <div  class="dropdown" dropdown placement="bottom-right">
                                                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" dropdownToggle aria-expanded="false">
                                                    Acciones <i class="mdi mdi-chevron-down font-size-14"></i>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-end" *dropdownMenu>
                                                    <li><a href="javascript: void(0);" class="dropdown-item" (click)="editar(convenio)"><i class="fas fa-pencil-alt text-success me-1"></i>Editar</a></li>
                                                    <li><a href="javascript: void(0);" class="dropdown-item" (click)="eliminar(convenio.ideConvenio)"><i class="fas fa-trash-alt text-danger me-1"></i>Eliminar</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>}
                                </tbody>
                            </table>

                            
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <ng-template #modalPerfil role="document" let-modal>
	<div class="modal-header">
        <h5 class="modal-title mt-0">{{tituloModal}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modalRef.hide()"></button>
	</div>
	<div class="modal-body">
		<app-perfiles-form-modal [modalRef]="modalRef" [perfil]="perfil"></app-perfiles-form-modal>
	</div>
</ng-template> -->
