<!-- <div class="d-flex flex-column p-3">
  <u class="fs-5 mb-2"><strong>Datos ITP</strong></u>
  <div class="row">
    <div class="col-md-8 d-flex flex-row">
        <p class="col-md-4 d-flex align-items-center">Oficina de la Unidad Ejecutora</p>
        <select id="unidad-e" class="form-select" (change)="asignarUnidadEjec($event)" [(ngModel)]="unidad_ejec_select">
          <option value=0 disabled>Seleccione la Unidad ejecutora</option>
          <option *ngFor="let unidad_e of this.unidadEjecutora.getUnidadEjecutora()" [value]="unidad_e.personal_id">{{ unidad_e.nombre }}</option>
        </select>
    </div>


    <div class="row mt-2" style="gap:1rem">
      <div class="col-md-4 d-flex flex-column" style="gap: 0.5rem;">
        <label for="aporteMonSol">Ingrese el aporte Monetario en Soles</label>
        <input class="form-control" style="max-height: 5rem;" id="aporteMonSol" type="number" min="0">
      </div>
      <div class="col-md-4 d-flex flex-column" style="gap: 0.5rem;">
        <label for="aporteNoMonSol">Ingrese el aporte No Monetario en Soles</label>
        <input class="form-control" style="max-height: 5rem;" id="aporteNoMonSol" type="number" min="0">
      </div>
    </div>

    <div class="p-4 border-dark">
      <p class="fs-5"><strong>Datos del proponente: </strong></p>
      <div class="row">
        <div class="col-md-6 mt-3">
          <select id="personal-cas" class="form-select" (change)="asignarPersonalCas($event)" [(ngModel)]="personal_cas_select">
            <option value=0 disabled>Seleccione personal CAS</option>

            <option *ngFor="let personal of this.personalCas.getPersonal()" [value]="personal.personal_id">{{ personal.nombre }}</option>
          </select>
        </div>
        <div class="col-md-6 mt-3">
          <div>
            <div>
              <label for="">Coordinador 1 (Titular): </label>
              <input type="text">
            </div>
            <button>+</button>
          </div>
          <div>
            <div>
              <label for="">Coordinador 2 (Titular): </label>
              <input type="text">
            </div>
            <button>+</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="tab-pane fade show active" id="datos-itp" role="tabpanel" aria-labelledby="datos-itp-tab">
  <!-- Contenido de Datos del ITP -->
  <form id="formDatosItp">
    <div class="row mb-3">
      <div class="col-md-12 mb-2">
        <label for="oficinaUnidadEjecutora" class="form-label small">Oficina de la Unidad Ejecutora:</label>
        <select class="form-select form-select-sm" id="oficinaUnidadEjecutora" [(ngModel)]="unidad_ejec_select" (change)="asignarUnidadEjec($event)" name="oficinaUnidadEjecutora">
          <option value=0 selected>Seleccione la oficina</option>
          <option *ngFor="let oficina of this.unidadEjecutora.getUnidadEjecutora()" [value]="oficina.id">{{oficina.nombre}}</option>
        </select>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6 mb-2">
        <label for="aporteMonetario" class="form-label small">Ingrese el Aporte Monetario en Soles:</label>
        <input type="number" step="0.01" min="0" class="form-control form-control-sm" id="aporteMonetario" [(ngModel)]="aporteMonSoles" (input)="asignarAporteMonSoles($event)">
      </div>
      <div class="col-md-6 mb-2">
        <label for="aporteNoMonetario" class="form-label small">Ingrese el Aporte No Monetario en Soles:</label>
        <input type="number" step="0.01" min="0" class="form-control form-control-sm" id="aporteNoMonetario" [(ngModel)]="aporteNoMonSoles" (input)="asignarAporteNoMonSoles($event)">
      </div>
    </div>
    <hr style="border-width: 3px;">
    <div class="row mb-3">
      <div class="col-md-6 mb-2">
        <label for="datosProponente" class="form-label small">Datos del Proponente:</label>
        <select class="form-select form-select-sm" id="datosProponente" [(ngModel)]="idDatosProponentes" (change)="asignarProponente($event)" name="datosProponente">
          <option value=0 selected>Seleccione la oficina</option>
          <option *ngFor="let oficina of this.unidadEjecutora.getUnidadEjecutora()" [value]="oficina.id">{{oficina.nombre}}</option>
        </select>
      </div>
      <div class="col-md-6 mb-2">
        <label for="coordinador1Titular" class="form-label small">Coordinador 1 (Titular):</label>
        <select class="form-select form-select-sm" id="coordinador1Titular" [(ngModel)]="idCoordinadorTitular" (change)="asignarCoordinadorTitular($event)" name="coordinador1Titular">
          <option selected>Selecciona personal</option>
          <option *ngFor="let coordinador of this.personalCas.getPersonal()" [value]="coordinador.id">{{coordinador.nombre}}</option>          
        </select>
      </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6 mb-2">
        </div>
        <div class="col-md-6 mb-2">
          <label for="coordinador1Alterno" class="form-label small">Coordinador 2 (Alterno):</label>
          <select class="form-select form-select-sm" id="coordinador1Alterno" [(ngModel)]="idCoordinadorTitular" (change)="asignarCoordinadorAlterno($event)" name="coordinador1Alterno">
            <option selected>Selecciona personal</option>
            <option *ngFor="let coordinador of this.personalCas.getPersonal()" [value]="coordinador.id">{{coordinador.nombre}}</option>          
          </select>
        </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6 mb-2">
        <label for="datosProponenteConvenioMarco" class="form-label small">Datos del Proponente (Caso Convenio Marco):</label>
        <select class="form-select form-select-sm" id="datosProponenteConvenioMarco" [(ngModel)]="idDatosProponentesMarco" (change)="asignarProponenteMarco($event)" name="datosProponenteConvenioMarco">
          <option selected>Seleccione oficina:</option>
          <option *ngFor="let oficina of this.unidadEjecutora.getUnidadEjecutora()" [value]="oficina.id">{{oficina.nombre}}</option>
        </select>
      </div>
      <div class="col-md-6 mb-2">
        <label for="marcoCoordinador1Titular" class="form-label small">Coordinador 1 (Titular):</label>
        <select class="form-select form-select-sm" id="marcoCoordinador1Titular" [(ngModel)]="idCoordinadorTitularMarco" (change)="asignarCoordinadorTitularMarco($event)" name="marcoCoordinador1Titular">
          <option selected>Selecciona personal</option>
          <option *ngFor="let coordinador of this.personalCas.getPersonal()" [value]="coordinador.id">{{coordinador.nombre}}</option>          
        </select>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6 mb-2">

      </div>
      <div class="col-md-6 mb-2">
        <label for="marcoCoordinador2Alterno" class="form-label small">Coordinador 2 (Alterno):</label>
        <select class="form-select form-select-sm" id="marcoCoordinador2Alterno" [(ngModel)]="idCoordinadorAlternoMarco" (change)="asignarCoordinadorAlternoMarco($event)">
          <option selected>Selecciona personal</option>
          <option *ngFor="let coordinador of this.personalCas.getPersonal()" [value]="coordinador.id">{{coordinador.nombre}}</option>          
        </select>
      </div>
    </div>
    <div class="text-end">
      <button type="submit" class="btn btn-warning" style="color: white;">Siguiente</button>
    </div>
  </form>
</div>
