<form (ngSubmit)="grabar()" [formGroup]="formData">
    <div class="row mb-3">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label">Convenio</label>

                <ng-select
                    [items]="listarConvenios()"
                    bindLabel="txtConvenio"
                    bindValue="ideConvenio"
                    placeholder="Seleccionar Convenio"
                    formControlName="ideConvenio"
                    [ngClass]="{'is-invalid': submitted && formData.get('ideConvenio')?.invalid}"
                    [searchable]="true"
                    [clearable]="false">
                </ng-select>

                <div *ngIf="submitted && formData.get('ideConvenio').errors" class="invalid-feedback">
                    <span *ngIf="formData.get('ideConvenio').errors.required">Convenio es requerido.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label">Fecha evaluación:</label>
                <input type="date" class="form-control" placeholder="Ingrese Fecha evaluación" autocomplete="off" formControlName="fecEvaluacion" [ngClass]="{'is-invalid': submitted && formData.get('fecEvaluacion').errors}" onclick="this.showPicker()">
                <div *ngIf="submitted && formData.get('fecEvaluacion').errors" class="invalid-feedback">
                    <span *ngIf="formData.get('fecEvaluacion').errors.required">Fecha evaluación es requerido.</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label">Información de Plan de Trabajo:</label>
                <textarea class="form-control" placeholder="Ingrese Información de Plan de Trabajo" autocomplete="off" formControlName="txtInformacionPlanTrabajo" [ngClass]="{'is-invalid': submitted && formData.get('txtInformacionPlanTrabajo').errors}"></textarea>
                <div *ngIf="submitted && formData.get('txtInformacionPlanTrabajo').errors" class="invalid-feedback">
                    <span *ngIf="formData.get('txtInformacionPlanTrabajo').errors.required">Información de Plan de Trabajo es requerido.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label">Archivo</label>
                <div class="custom-file-container">
                    <input class="form-control" type="file" id="fileInput3" (change)="onFileSelected($event)" [ngClass]="{'is-invalid': submitted && formData.get('archivo').errors}" hidden>
                    <button type="button" class="btn btn-danger" (click)="triggerFileInput()">Seleccionar archivo</button>
                    <span class="file-name">{{ selectedFileName  || 'Ningún archivo seleccionado' }}</span>
                    <div *ngIf="submitted && formData.get('archivo').errors" class="invalid-feedback">
                        <span *ngIf="formData.get('archivo').errors.required">El archivo es requerido.</span>
                        <span *ngIf="formData.get('archivo').errors.formatoInvalido">El archivo debe ser formato PDF.</span>  
                        <span *ngIf="formData.get('archivo').errors.tamanoInvalido">El archivo debe tener un tamaño entre 0 y {{tamanioArchivo}} MB.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="modal-footer form-group">
            <div class="">
                <button type="submit" class="btn btn-success">Grabar</button>
            </div>
        </div>
    </div>
</form>