<div class="tab-pane fade show active" id="plan-trabajo" role="tabpanel" aria-labelledby="plan-trabajo-tab">
  <form id="formPlanTrabajo">
      <div class="row mb-3">
          <div class="col-md-6">
              <label for="actividadesEjecutadas" class="form-label small">Actividades Ejecutadas:</label>
              <input type="text" class="form-control form-control-sm mb-2" id="actividadesEjecutadas1">
              <input type="text" class="form-control form-control-sm" id="actividadesEjecutadas2">
          </div>
          <div class="col-md-6">
              <label for="actividadesProgramadas" class="form-label small">Actividades Programadas:</label>
              <input type="text" class="form-control form-control-sm" id="actividadesProgramadas">
          </div>
      </div>
      <div class="row mb-3">
          <div class="col-md-6">
              <label for="problemasPresentados" class="form-label small">Problemas Presentados:</label>
              <input type="text" class="form-control form-control-sm" id="problemasPresentados">
          </div>
      </div>
      <div class="mb-3">
          <label class="form-label small">Tiene Plan de Trabajo:</label>
          <div>
              <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="planTrabajo2Switch">
                  <label class="form-check-label small" for="planTrabajo2Switch">No / Sí</label>
              </div>
          </div>
      </div>

       <div class="col-12 text-end">
          <button type="submit" class="btn btn-warning" style="color: white;">Siguiente</button>
      </div>
  </form>
</div>
