<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                {{year}} © Instituto Tecnológico de la Producción | Oficina de Tecnologías de la Información - OTI | Todos los derechos reservados
            </div>
            <!-- <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    {{nombreCortoSistema}}
                </div>
            </div> -->
        </div>
    </div>
</footer>